*{
    margin: 0;
    height: 100%;
}

.top-nav-bar{

}

.nav-item{
    display: inline;
}
body{
width: 100%;
}

.banner-container{
    background-image: url(../img/banner-background-landscape-birds.jpeg);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inner-container{
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}


