*{
    margin: 0;
    /* height: 100%; */
}

body{

}

.header{
    background-color: rgb(45, 4, 70);
    height: 10%;
    width: 100%;
}
.header a {
    color: white;
}
.banner-container{
    background-image: url(../img/banner-background-landscape-birds.jpeg);
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-column: 1 / span 3;
}

.list-of-items {
    display: inline-block;
    text-align: right;
    color: white;   
    margin: 1em;
}


.list-item{
    display: inline;
    padding: 1em;
}

/* style for flex container*/
.flex-container{
    background-color: rgb(156, 157, 197);
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: space-evenly;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.grid-container {
    display: grid;
    background-color: blueviolet;
    grid-template-columns: 1fr 1fr 1fr;
    width:80em;
    margin-left: 10em;
    
    
}

/* style for footer */
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10em;
    width: 80em;
    margin-left: 10em;
}

.item {

    border: 0.02em solid rgb(45, 4, 70);
    width: 10em;
    padding: 3em;
}

.item img {
    width:100%;
    height:7em;
}

